<!DOCTYPE html>
<html>
<head>
</head>
<body>&nbsp;</body>
</html>
<title>Home</title>
<h1>Hello, im Sergen ??????:)</h1>

<h1 style="font-size: 300px;">Hello, Mustafa!</h1>

<h1>Hello, Tolga!</h1>

<h1>Hello, Taha</h1>

<footer>
<div id="datetime">{{ current_time }}</div>
</footer>
<title></title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
<h1>InternetBookDatabase</h1>
<title></title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
<p>&nbsp;</p>

<h1>Hello, im Sergenn :)</h1>

<h2>Hello, Mustafa!</h2>

<h2>Hello, Ufuk!</h2>

<h1>Hello, Tolga</h1>

<footer>
<div id="datetime">{{ current_time }}</div>
</footer>
