<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p>&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD</p>
</body>
</html>
<title>Home</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
<h1>InternetBookDatabase ( IBDB )</h1>

<p>=======</p>
<title></title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
<p>&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD</p>

<h1>Hello, im Sergenn :)</h1>

<h2>Hello, Mustafa!</h2>

<h2>Hello, Ufuk!</h2>

<h1>Hello, Tolga!</h1>

<h1>&nbsp;</h1>

<p>&gt;&gt;&gt;&gt;&gt;&gt;&gt; branch &#39;master&#39; of https://github.com/itucsdb1604/itucsdb1604.git &gt;&gt;&gt;&gt;&gt;&gt;&gt; branch &#39;master&#39; of https://github.com/itucsdb1604/itucsdb1604.git</p>

<footer>
<div id="datetime">{{ current_time }}</div>
</footer>
